# --- File Biner / Database ---
*.db
*.pkl
*.pyc
__pycache__/

# --- File Lingkungan & Konfigurasi ---
.env
mlruns/
mlflow.db

# --- Data & Model (jika ada) ---
data/raw/
data/processed/
data/annotations/
models/
*.csv
*.xlsx

# --- Lainnya ---
.dvc/
.dvcignore
dvc.lock
dvc.yaml